<h1>Welcome to Foodback</h1>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Review Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="body-container">
  <%= link_to image_tag("mobile-experience.jpg", :size => "390x270"), root_path %>
</div>

<h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <div class ="span4" style="padding-bottom: 150px;">
    <div class="search-form">
    <p>Find your business</p>
    <%= form_tag search_businesses_path, method: :get do |f| %>
      <%= text_field_tag :search, nil, placeholder: "type business name." %>
      <%= text_field_tag :location, nil, placeholder: "denver, miami, etc." %>
      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
      <%= submit_tag 'Search', class: "btn span2 btn-realto-form btn-large" %>
    <% end %>
    </div>
  </div>
  <div>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Write about an Experience", new_business_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  
  <% end %>