<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Experience Feed(Businesses) <%= link_to "Users", user_feed_path, class: "btn btn-lg btn-primary" %></h3>
      
      <%= render 'shared/feed' %>
      
    </div>
  </div>
<% else %>
<div class="opening">
Welcome to Rumordom.  This website is about the experience you have when you
visit or have an interaction with a business.  There are times when you interact with these businesses multiple times, and every single time you have a different experience.  This is why I created Rumordom.  Whether you have a small, big, short, or a long statement, but every experience matters.  Come here to document the experience you have had good, or bad...every single time.  Let them know...let the world know.  Remember it's not a review....it's an experience.
  </div>
  <div class="span4">
    <div class="search-form">
      <p>Find A Business</p>
      <%= form_tag search_businesses_path, method: :get do |f| %>
        <%= text_field_tag :search, nil, placeholder: "search for bussinesses, etc." %>
        <%= text_field_tag :location, nil, placeholder: "new york, miami, etc." %>
        
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
  
  <div>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Write about an Experience", new_business_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  
  <% end %>